<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form name="my-form">
      <input type="text" name="my-id" id="id" />
      <button id="my-botton" type="button">제출</button>
    </form>
  </body>
</html>

<script>
  document.querySelector("#my-botton").addEventListener("click", async () => {
    const myid = document.querySelector("#id").value;

    await fetch(`/boom/${myid}`);
  });
</script>
